body{ 
margin:0px; 
margin-top:8px;
background-color:#e8f1ff;;
}
.log{
	margin:10px;
}
nav{
	width:100%;
	height:43px;
	opacity:0.9;
	background-color:#555555;
}
nav > #mynavs{	
	margin-top:-30px;
	float:right;
	margin-right:20px;
	color:#DDDCDC;
	text-decoration:none;
	font-size:20px;
}
nav a{
	margin-top:1px;
	float:right;
	margin-right:20px;
	color:#DDDCDC;
	text-decoration:none;
	font-size:20px;
}

.sublinks{
	display:none;
	width:230px;
	padding:10px;
	/*-webkit-transform:rotateY(90deg);
	-moz-transform:rotateY(90deg);
	-ms-transform:rotateY(90deg);
	-o-transform:rotateY(90deg);
	transform:rotateY(90deg);
	transition:transform 1s ease;
	-ms-transition:-ms-transform 1s ease;
	-o-transition:-o-transform 1s ease;
	-moz-transition:-moz-transform 1s ease;
	-webkit-transition:-webkit-transform 1s ease;*/
	background-color:#555555;
	height:90px;
	position:absolute;
	margin:33px auto;
	margin-left:30.2%;
	float:right;
}
.sublinks > ul{
	list-style:none;
	float:left;
}
.sublinks > a{
color:#DDDCDC;
float:left;
display:inline;	
}
.sublinks > ul li a:hover{
	color:white;	
}
.slide{
	width:1250px;
	height:490px;
	margin:10px auto;
}
.slide > img{
width:1250px; height:490px;	
}
.bubbles > div{
	display:inline-block;
	width:10px;
	height:10px;
	margin:0px 10px 0px 10px;
	border:2px solid #999;
	border-radius:100%;
	transition:background ease 1s;
	cursor:pointer;
	}

.container{
	width:1250px;
	height:350px;
	background-color:#e0e8f6;
	box-shadow:0px 0px 1px 0px;
	padding:10px;
	margin:0px auto;	
}
.aboutus{
	margin:10px auto;
	padding:5px;
	box-shadow:0px 0px 1px 0px;
	padding-bottom:25px;
	background-color:#e0e8f6;
	width:1250px;
	height:50px;
}
.content{
	margin:10px auto;
	padding:5px;
	box-shadow:0px 0px 1px 0px;
	padding-bottom:25px;
	background-color:#e0e8f6;
	width:1250px;
	height:auto;
}
.contact {
	width:400px;
	height:235px;
	float:right;
	margin-top:40px		
}

.displays{
width:1100px;
height:500px;	
}
.contact > p{margin-left:10px;}
footer{
	background-color:#555555;
	width:100%;
	height:40px;
	
}
form{
	padding:10px;	
}

 #fb{
	margin:5px;
	margin-left:5px;
}
#tw{
	margin:5px;
	margin-right:10px;
}
.footer{
    float:left; 
	margin:2px auto;
	margin-left:480px;	
}
footer > p{
	color:white; 
}